<html>
<head>
    <title>Запись успешно отправлена</title>
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 50px;
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .success-message {
            color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Запись успешно отправлена!</h1>
        <p class="success-message">Я свяжусь с Вами в ближайшее время.</p>
    </div>
    <p><a href="/">На главную</a></p>
</body>
</html>